/* ===== WELCOME SECTION ===== */
.chat-count-admin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
}
.login-checkbox{
width: 30%;
text-align: left;
margin: 0PX auto !important;
height: 23px !important;

}

.error {
  color: #f00;
}
.text-white {
  color: #fff !important;
}
.pagination {
  list-style: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-item {
  font-size: 1.5rem;
  background-color: #fff;
  width: 8%;
}
.welcome-section {
  width: 100%;
  background-color: #f1f1f4;
}

.welcome-section__inner {
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
}

.welcome-section-image__container {
  margin-left: -6rem;
}

.welcome-section-image {
  max-width: 50vw;
}

.welcome-section-text__container {
  margin: auto;
}

.welcome-section-text__inner {
  padding-bottom: 5rem;
  padding-left: 2rem;
}

/* ===== LOGING MODAL ===== */

.login-container {
  padding: 2rem 0;
  width: 90%;
}

.login-header {
  background-color: white;
  display: flex;
  border-radius: 2rem;
}

.signup-option-container {
  width: 50%;
  background-color: white;
  border-radius: 2rem 0;
}

.signup-option {
  box-sizing: border-box;
  border-radius: 2rem 2rem 0rem 0rem;
  padding: 1rem;
  text-align: center;
  background-color: #066f3a;
  width: 50%;
}

.login-option-container {
  width: 50%;
  background-color: #066f3a;
  border-radius: 2rem 2rem 0 0;
}

.login-option {
  box-sizing: border-box;
  border-radius: 2rem 2rem 0rem 0rem;
  text-align: center;
  background-color: white;
  padding: 1rem;
  width: 50%;
  border: transparent solid;
  font-size: 1.5rem;
  font-family: "Poppins SemiBold";
}

.login-option:hover {
  cursor: pointer;
}

.selected {
  color: white;
  background-color: #066f3a;
  border: #066f3a solid;
}

.half-login-input {
  margin: 1rem 0;
  background-color: white;
  width: 43%;
  border-radius: 1.25rem;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding: 0.75rem 1.5rem;
}

.login-inputs {
  border-radius: 0 0 2rem 2rem;
  padding: 2rem 1.5rem;
  background-color: #066f3a;
}

.login-input {
  margin: 1rem 0;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  border-radius: 1.25rem;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding: 0.75rem 1.5rem;
}

.button-holder {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-holder a {
  text-decoration: underline;
}

/* ===== HOW IT WORKS ===== */

.how-it-works {
  background-color: white;
  text-align: center;
}

.how-it-works h2 {
  padding-bottom: 4rem;
}

.how-it-works__inner {
  padding: 3rem 13%;
}

.how-it-works__icon-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem 4rem;
}

.how-it-works__icon-container img {
  padding-bottom: 1rem;
}

.how-it-works__icon-card {
  background-color: white;
  border-radius: 3rem;
  padding: 2rem 1rem;
}

.how-it-works__icon-card p {
  color: #55896b;
}

.switch {
  font-size: 1.25rem;
  position: relative;
  display: inline-block;
  width: 50%;
  min-width: 10rem;
  height: 3rem;
  margin: 2rem 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5f0ea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  content: "Buyer";
  color: white;
  position: absolute;
  width: 50%;
  left: 0px;
  background-color: #0fc662;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  content: "Seller";
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3rem;
}

.slider.round:before {
  border-radius: 3rem;
}

/* ===== OUR MISSION ===== */

.our-mission {
  background-color: #f1f1f4;
  text-align: center;
}

.our-mission__inner {
  padding: 3rem 10%;
}

.our-mission-quote__container {
  align-items: center;
  display: flex;
  text-align: left;
}

.our-mission-quote__text {
  padding-left: 3rem;
}

.our-mission-quote__text p {
  font-size: 1rem;
}

.three-pillars-title {
  margin-top: 3rem;
}

/* ===== SEARCH BAR ===== */

.search-bar__outer {
  width: 100%;
}

.search-bar__container-outer {
  width: 63%;
  margin: auto;
}

.search-bar__container {
  box-sizing: border-box;
  background-color: white;
  width: 80%;
  border-radius: 1.25rem;
  font-size: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 1.5rem;
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.search-input {
  width: 100%;
}

.search-icon {
  color: white;
  background-color: #0c572c;
  border-radius: 50%;
  padding: 0.25rem;
}

.centered-container {
  text-align: center;
}

.contact-us-form__container {
  margin-left: 10%;
}

.contact-us-form {
  border: solid 1px #c4c4c4;
  border-radius: 2rem;
  padding: 1rem;
}

.contact-us-form input,
.contact-us-form select {
  width: -webkit-fill-available;
  margin: 0.5rem;
  background-color: #f1f1f1;
  box-shadow: none;
  border: none;
  font-family: "Poppins Regular";
}

.side-by-side-input {
  display: flex;
}

.contact-us {
  position: relative;
}

.contact-us__button-container {
  display: flex;
  justify-content: flex-end;
}

.contact-us__button {
  margin-left: auto;
}

.contact-us-thanks {
  margin-left: 10%;
  width: 50%;
}

.contact-us-thanks-inner {
  display: flex;
}

.contact-us-thanks-inner div {
  padding: 1rem;
}

.bubble-contact-form {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: -1;
}

@media (max-width: 1070px) {
  .contact-us-thanks {
    width: 100%;
    margin: 5%;
  }

  .contact-us-form__container {
    margin: 5%;
  }
}

/* ===== NAVBAR ===== */

.navbar-body {
  display: flex;
  justify-content: space-around;
  margin: auto;
  background-color: white;
  height: 8rem;
}

.navbar-title {
  color: #0c572c;
  margin-top: 5%;
  margin-left: 2%;
}

/*.navbar div {*/
/*    display: flex;*/
/*    margin: auto 0;*/
/*    align-items: center;*/
/*}*/

.navbar a {
  padding: 0 1rem;
}

.navbar[class~="two"] svg {
  font-size: 3rem;
  padding-right: 1rem;
  width: auto;
}
.navbar svg {
  width: 0.75rem;
}

.navbar-dropdown {
  display: block !important;
  top: 0;
  margin-left: -5rem !important;
}

.navbar-dropdown div {
  margin: 0 2rem;
  padding: 1rem 0;
  border: #c4c4c4 solid;
  border-width: 0 0 1px 0;
}

.mini-btn-medium {
  box-shadow: none;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins Medium";
}

.log-in-button {
  background-color: transparent;
  color: #0c572c;
  padding-right: 0;
}

.nav-dropdown__container {
  position: absolute;
  display: block;
}

@media only screen and (max-width: 1200px) {
  .xl-view {
    display: none;
  }

  .navbar-light .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-body {
    justify-content: space-between;
    padding: 0 1rem;
  }
  .navCollapse {
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    position: fixed !important;
    margin: auto !important;
    /*top: 15%;*/
    left: 0;
    overflow: hidden !important;
    padding-bottom: 10px !important;
  }

  .log-in-button {
    margin-top: -50px;
    padding-right: 20px;
  }
}

.oldNavbar .navbar-body[class~="two"] {
  background-color: #e5f0ea;
}

.oldNavbar .navbar {
  /*margin-top: 1.5rem;*/
  display: flex;
  justify-content: space-around;
}

.oldNavbar .navbar[class~="two"] {
  padding: 0 3rem;
  justify-content: space-between;
}

.oldNavbar .navbar div {
  display: flex;
  margin: auto 0;
  align-items: center;
}

.oldNavbar .navbar a {
  padding: 0 1rem;
}

.oldNavbar .navbar[class~="two"] svg {
  font-size: 3rem;
  padding-right: 1rem;
  width: auto;
}

.oldNavbar .navbar svg {
  width: 0.75rem;
}

.oldNavbar .navbar-dropdown {
  display: block !important;
  top: 0;
  margin-left: -5rem !important;
}

.oldNavbar .navbar-dropdown div {
  margin: 0 2rem;
  padding: 1rem 0;
  border: #c4c4c4 solid;
  border-width: 0 0 1px 0;
}

.oldNavbar .navbar-title {
  color: #0c572c;
}

.oldNavbar .mini-btn-medium {
  box-shadow: none;
  padding: 0.5rem 1.5rem;
  font-family: "Poppins Medium";
}

.oldNavbar .log-in-button {
  background-color: transparent;
  color: #0c572c;
  padding-right: 0 !important;
}

.oldNavbar .nav-dropdown__container {
  position: absolute;
  display: block;
}

/* ===== FOOTER ===== */
.footer a:hover {
  color: white;
}

.footer {
  background-size: cover;
  text-align: center;
  padding: 6rem 5rem 2rem;
  display: flex;
  color: white;
  background-image: url("../assets/footer-background.svg");
}
.footer-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-logo {
  color: white;
  margin: auto auto 0rem 0rem;
}

.footer-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links__container {
  padding: 2rem 3rem;
}

.footer-icons {
  cursor: pointer;
}

.footer-icons__container {
  padding: 2rem 0rem 2rem 3rem;
}

/* ===== MARKETPLACE ===== */

.marketplace {
  background-color: #f1f1f4;
}

.marketplace-title {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.marketplace__inner {
  position: relative;
  padding: 3rem 10%;
  overflow: hidden;
}

.sort-and-filter__container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.drop-down__container {
  box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  z-index: 5;
  padding: 0rem 0 5rem;
  width: 23rem;
  max-width: 100%;
}

.drop-down-right {
  margin-left: -18rem;
}

.dropdown-header {
  height: 8rem;
  margin: 0 0 1rem !important;
  border: none !important;
  background-color: #e5f0ea;
  padding: 0 !important;
}

.filter-item {
  padding: 0.5rem 0;
}

.filter-item__new {
  padding-right: 5rem;
}

.seller-rating {
  display: flex;
}

.expand-wrapper {
  z-index: 6;
  display: flex;
  cursor: pointer;
}

.book-card__container {
  /* justify-content: space-between;
    flex-wrap: wrap;
    display: flex; */
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.book-card__container-small {
  /* justify-content: space-between;
    flex-wrap: wrap;
    display: flex; */
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.book-card {
  /* text-align: center;
    margin: 1rem 0;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 1.5rem 1.5rem;
    position: relative; */
  width: fit-content;
  text-align: center;
  margin: 1rem auto;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 1.5rem 1rem;
  position: relative;
}

.book-card-market-place {
  /* text-align: center;
    margin: 1rem 0;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem 1.5rem 1.5rem;
    position: relative; */
  width: fit-content;
  text-align: center;
  margin: 1rem auto;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 1.5rem 1rem;
  position: relative;
}

.bookmark-icon {
  top: 3%;
  right: 7%;
  font-size: 2rem !important;
  margin-left: auto;
  display: flex;
  position: absolute;
}

.book-card .book-title {
  margin: auto;
  font-family: "Poppins Medium";
  margin-top: 0.25rem;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-card .author {
  margin: auto;
  font-size: 0.75rem;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-card .add-info {
  margin-top: 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.book-card .price {
  font-family: "Poppins Bold";
  font-size: 1.25rem;
}

.book-card .image-container {
  height: 14rem;
  width: 14rem;
}

.book-card-market-place .book-title {
  margin: auto;
  font-family: "Poppins Medium";
  margin-top: 0.25rem;
  overflow: hidden;
  max-width: 15ch;
  text-overflow: ellipsis;
  white-space: nowrap;

  /*color: #066f3a;*/
  color: seagreen;
}

.book-card-market-place .author {
  margin: auto;
  font-size: 0.75rem;
  overflow: hidden;
  max-width: 20ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-card-market-place .add-info {
  margin-top: 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.book-card-market-place .price {
  font-family: "Poppins Bold";
  font-size: 1.25rem;
}

.book-card-market-place .image-container {
  height: 14rem;
  width: 14rem;
}

.contain-img {
  height: 300px;
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.book-card .contain-img {
  height: 280px;
  margin-top: 4.5%;
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.book-card-market-place .contain-img {
  height: 280px;
  margin-top: 4.5%;
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.book-card-market-place .add-info {
  margin-top: 15%;
}

@media (max-width: 1400px) {
  .book-card__container {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .book-card__container-small {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1070px) {
  .book-card__container {
    grid-template-columns: 50% 50%;
  }

  .book-card__container-small {
    display: grid;
    grid-template-columns: auto;
  }
}

@media (max-width: 700px) {
  .book-card__container {
    grid-template-columns: auto;
  }
}

/* ===== POPUP ===== */

.popup-enter {
  transform: translateX(-110%);
  opacity: 0%;
}
.popup-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
  opacity: 100%;
}
.popup-exit {
  transform: translateX(0%);
  opacity: 75%;
}
.popup-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
  opacity: 0%;
}

.popup-secondary-enter {
  transform: translateX(110%);
  margin-top: -50%;
  opacity: 0%;
}
.popup-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
  opacity: 100%;
}
.popup-secondary-exit {
  transform: translateX(0%);
  margin-top: -50%;
  opacity: 75%;
}
.popup-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
  opacity: 0%;
}

.darken-bg {
  overflow-y: scroll !important;
  z-index: 100;
  position: fixed;
  min-height: 80vh;
  top: 20%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.darken {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
}

.popup__container {
  max-width: 950px;
  border-radius: 2rem;
  margin: auto 1rem;
  background-color: white;
  transition: height 500ms ease;
}

.popup-last-element {
  padding-top: 1rem;
}

.top-bar {
  padding: 0.5rem 2.5rem;
  box-sizing: border-box;
  background-color: #e5f0ea;
  border-radius: 2rem 2rem 0 0;
  display: flex;
}

.top-bar svg {
  cursor: pointer;
  margin: auto 0 auto auto;
  padding: 1rem;
}

.number-input-div {
  border: #0fc662 solid;
  border-width: 0 0 1px 0;
  width: fit-content;
  margin: auto;
}

.report-dropdown {
  font-size: 0.85rem;
  padding: 0.25rem 0;
  border: grey solid;
  border-width: 0 0 1px;
  width: 90%;
  margin: 3% 0 6%;
  font-family: "Poppins Regular";
}

.report-submitted div {
  text-align: center;
  padding: 5%;
  display: block;
}

.report-submitted a {
  text-align: center;
  padding: 5%;
  display: block;
}

.offer-container {
  box-sizing: border-box;
  position: relative;
  border-radius: 1rem;
  border: #c4c4c4 solid;
  text-align: center;
  max-width: 60vw;
}

.offer-container-secondary {
  padding: 5% 8%;
  box-sizing: border-box;
}

.offer-container-primary svg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  padding: 0.25rem 0.4rem;
  cursor: pointer;
}

.offer-container-secondary svg {
  color: #0fc662;
  margin-bottom: -0.25rem;
  padding: 0 0.5rem;
}

.offer-title {
  font-family: "Poppins SemiBold";
  font-size: 0.75rem;
  padding: 0.5rem;
}

.offer-button {
  margin: 0 0.5rem;
  padding: 0.5% 3%;
  background-color: transparent;
  box-shadow: none;
  border: #0c572c solid;
  color: #0c572c;
  font-size: 0.75rem;
  font-family: "Poppins SemiBold";
}

.offer-button-selected {
  background-color: #0c572c;
  color: white;
}

.make-offer-button {
  margin: 0.9rem 0.25rem;
  padding: 0.5% 3%;
  box-shadow: none;
  font-size: 0.75rem;
  font-family: "Poppins SemiBold";
}

.offer-link {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.offer-price {
  font-size: 1rem;
  font-family: "Poppins SemiBold";
  padding-bottom: 0.5rem;
}

.testest-enter {
  display: none;
}

.testest-enter-active {
  transition: all 500ms ease;
  display: block;
}

.testest-exit {
  display: block;
}

.testest-exit-active {
  display: none;
  transition: all 500ms ease;
}

/* ===== QUICKVIEW ===== */

.report {
  display: flex;
  position: absolute;
  bottom: 5%;
  text-decoration: underline;
  color: red;
  font-size: 0.8rem;
  cursor: pointer;
}

.quick-view-report input {
  border: grey solid;
  border-width: 0 0 1px;
  width: 90%;
  margin: 3% 0 6%;
}

.report-buttons {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
}

.report-buttons a {
  margin: 2%;
}

.report-buttons button {
  margin: 2%;
}

.report svg {
  font-size: 1.25rem;
}

.quick-view {
  position: relative;
  display: flex;
  padding: 2.5rem 2rem 3rem;
}

.quick-view-report {
  box-sizing: border-box;
  position: relative;
  padding: 2.5rem 2rem 3rem;
}

.details-quick-view {
  padding: 0 0 1.5rem 0;
}

.quick-view__img {
  width: 33%;
}

.quick-view__content-wrapper {
  display: flex;
  padding-left: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.quick-view .location-marker {
  color: rgba(12, 87, 44, 0.7);
}

.quick-view .book-title {
  font-size: 1.5rem;
  font-family: "Poppins Bold";
}

.quick-view .book-subtitle {
  color: rgba(12, 87, 44, 0.54);
  font-family: "Poppins Medium";
}

.quick-view .book-isbn {
  font-size: 0.9rem;
}

.quick-view .book-author {
  font-size: 0.9rem;
}

.quick-view .t {
  font-size: 1.5rem;
  font-family: "Poppins Bold";
}

.quick-view .book-condition {
  font-size: 0.8rem;
  color: rgba(6, 111, 58, 0.79);
  width: 37%;
}

.quick-view .message-seller__link {
  color: #0c572c;
  font-size: 0.8rem;
  font-family: "Poppins Medium";
  text-decoration: underline;
}

.add-to-btn {
  margin-right: 1rem;
}

.add-to-btn-text {
  font-family: "Poppins Medium";
  padding-right: 0.5rem;
  font-size: 1rem;
}

/* ===== YOUR BACKPACK ===== */

.two-column__container {
  display: flex;
  justify-content: space-between;
}

.right-column {
  margin-left: auto;
  text-align: end;
}

.backpack-item {
  width: 85%;
}

.backpack-item__title {
  font-size: 1.25rem;
  font-family: "Poppins SemiBold";
}

.backpack-item__isbn {
  font-family: "Poppins Medium";
  padding-left: 0.5rem;
}

.backpack-item__price {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.quickview-button {
  margin: 0 1rem;
}

.remove-button {
  margin: 0.5rem 0rem;
}

.your-backpack {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  justify-content: flex-start;
}

.profile-banner__container {
  padding: 0.5rem 0;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.profile-icon-mini {
  margin: 0 0.5rem 0 0;
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
}

.profile-icon-large {
  margin: 0 0.5rem 0 0;
  width: 5rem;
  height: 5rem;
  background-color: red;
  border-radius: 50%;
}

.profile-banner__name {
  font-family: "Poppins SemiBold";
}

.profile-banner__location {
  color: #55896b;
  font-size: 0.75rem;
}

.profile-banner__star svg {
  font-size: 1rem;
  color: #55896b;
  padding: 0;
}

/* ===== INBOX ===== */

.messages {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.no-messages {
  margin: auto;
  width: 15rem;
  height: 15rem;
}

.profile-icon-medium {
  margin: 0 0.5rem 0 0;
  width: 4rem;
  height: 4rem;
  background-color: red;
  border-radius: 50%;
  min-width: 4rem;
  min-height: 4rem;
}

.messages-inner {
  height: calc(100% - 8rem);
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.inbox-column {
  z-index: 1;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: white;
}

.profile-banner__username {
  color: #55896b;
  font-size: 0.75rem;
  margin: -0.25rem 0rem 0.25rem;
}

.profile-banner__message {
  font-size: 0.7rem;
}

.inbox-message-bar {
  color: #0fc662;
  display: flex;
  font-family: "Poppins SemiBold";
  justify-content: space-between;
}

.inbox-switch {
  height: 0.25rem;
}

.inbox-slider {
  background-color: transparent;
}

.inbox-slider-title {
  margin-top: -2rem;
  font-size: 1rem;
}

input:checked + .inbox-slider:before {
  height: 0.25rem;
  content: "";
  transform: translateX(100%);
}

.inbox-slider:before {
  height: 0.25rem;
  padding: 0;
  content: "";
  color: white;
  position: absolute;
  width: 50%;
  left: 0px;
  background-color: #0c572c;
  transition: 0.4s;
}

.message-slider-hr {
  border: 0.5px solid #c4c4c4;
  margin-top: -2.05rem;
}

.inbox-previews {
  overflow-y: scroll;
}

.messages-column {
  height: calc(100vh - 8rem);
  border: 1px #c4c4c4;
  border-style: none solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.recipient__container {
  display: flex;
  border-bottom: 1px solid #c4c4c4;
  padding: 1rem;
}


.message-bubbles__container {
  width: 80%;
  margin: 8rem auto;
}
.message-bubble__received {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.message-bubble__received .message-bubble {
  margin: 1rem auto 1rem 0;
}

.message-bubble__received .pointer {
  /* right: 35%; */
  margin-right: -44px;
  margin-left: 30px;
  margin-top: 21px;
}

.message-bubble__sent .message-bubble {
  margin: 1rem 0 1rem auto;
}

.message-bubble__sent .pointer {
  left: 35%;
}

.message-bubble {
  width: max-content;
  background-color: #e5f0ea;
  max-width: 50%;
  font-size: 0.75rem;
  padding: 0.5rem 1.5rem;
  display: block;
  border-radius: 20px;
}

.offer-message {
  font-family: "Poppins Bold";
  color: #0fc662;
}

.pointer {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 3px 0;
  margin-top: -2rem;
  position: relative;
  z-index: -1;
  background-color: #e5f0ea;
}

.message-input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 10% 9rem;
}

.icon-inverted {
  color: white;
  background-color: #0c572c;
  border-radius: 50%;
}

.icon-small {
  font-size: 2rem;
}

.message-input {
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
  border-radius: 2rem;
  margin-left: 1rem;
}

.message-input input {
  width: 100%;
  background-color: transparent;
}

.messages-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.messages-container {
  height: 100%;
  overflow-y: scroll;
}

.details-section-inner {
  padding: 0 1rem;
  border-width: 1px;
  border-color: #c4c4c4;
  border-style: none none solid none;
}

.details-title {
  padding: 2rem 0 1rem;
  font-size: 1.25rem;
}

.details-column {
  height: 57vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: scroll;
}

.listing-details-spacing div {
  margin: 0.5rem 0;
}

.seller-details__container {
  display: flex;
  justify-content: space-between;
}

.seller-rating {
  display: block;
  margin-top: 0.5rem;
}

.seller-details-bottom {
  margin-bottom: 8rem;
}

/* ===== PROFILE ===== */

.profile {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  padding-top: 108px;
}


.profile-top__inner {
  padding: 2rem 5% 0;
  display: flex;
  margin: auto;
}

.my-dashboard__inner {
  padding: 2rem 6% 0;
}

.my-dashboard__second-inner {
  background-color: #f1f1f4;
}
.ext {
  display: flex;
  justify-content: space-between;
  align-items: flex-end !important;
  flex-direction: column !important;
}
.backarrow {
  margin: 0.75rem 1rem 1rem -1rem;
}

.user-profile-icon__container {
  width: 17rem;
}

.user-profile-icon {
  object-fit: cover;
  margin-bottom: -5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

.profile-title {
  padding: 1rem 0;
}

.profile-name {
  font-size: 1.5rem;
  font-family: "Poppins Bold";
}


.profile-rating {
  margin-right: 15%;
  margin-left: auto;
  margin-top: 2rem;
}

.profile-bottom {
  background-color: #f1f1f4;
}

.profile-bottom__inner {
  display: grid !important;
  grid-template-columns: 17rem auto;
  margin: auto;
  padding: 2rem 5% 0;
}
@media (max-width: 600px) {
  .profile-bottom__inner {
    display: flex !important;
  }
  .add_new_listing {
    display: grid;
    grid-template-columns: 50% auto !important;
    padding: 3rem 0;
    grid-column-gap: 5%;
    column-gap: 5%;
  }
  .add-listing-mobile {
    width: auto !important;
  }
}
.user-profile-info {
  padding: 6rem 3rem 1rem 0;
  width: 17rem;
}



.user-profile-content-title {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

/* ===== DASHBOARD ===== */

.dashboard-secondary-title {
  padding: 2rem 0;
}

.dashboard-card {
  /*margin: 2rem auto;*/
  margin: 2rem 2.33rem;
  width: 10rem;
  height: 7rem;
  background-color: white;
  border-radius: 1rem;
  padding: 8% 5% 18%;
  text-align: center;
}

/* .text-section-height {
  height: 1.4rem;
} */

.order-cluster {
  border: #c4c4c4 solid;
  margin-left: 0rem;
  border-width: 0 0 1px 0;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.order-container {
  padding: 1rem 0 1rem 2rem;
  display: flex;
}

.order-info {
  align-self: baseline;
  width: 100%;
  padding: 0 1.5rem;
}

.dashboard-selection-bar {
  border: #c4c4c4 solid;
  display: flex;
  border-width: 0 0 1px 0;
}

.dashboard-selection-item {
  cursor: pointer;
  margin: 0 20px;
  color: #0fc662;
  font-family: "Poppins SemiBold";
  border: transparent solid;
  border-width: 0 0 2px 0;
  padding: 0 9px 3px;
}

.dashboard-selection-item__selected {
  border: #0c572c solid;
  border-width: 0 0 2px 0;
}

.profile-card {
  margin: 7% auto;
  border: #daeae1 solid 2px;
  border-radius: 10%;
  padding: 7% 8%;
  text-align: center;
}

.circle-profile-pic {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

.circle-profile-pic__mini {
  border-radius: 50%;
  width: 7vh;
  height: 7vh;
}

.notif-container {
  padding: 1% 0;
  display: flex;
  align-items: center;
  border: #c4c4c4 solid;
  border-width: 0 0 0.5px 0;
  height: 8vh;
}

.notif-item {
  margin: 0 1%;
}

.dashboard-info-form-section {
  justify-content: flex-end;
  padding: 0 3% 1%;
  border: #c4c4c4 solid;
  border-width: 0 0 1px 0;
  display: flex;
  margin-bottom: 3%;
}

.dashboard-info-form-title {
  text-align: right;
  width: 10rem;
  color: #0fc662;
  margin: 0 3% 0 0;
  font-family: "Poppins SemiBold";
  font-size: 1.25rem;
}

.dashboard-info-form-outer {
  width: 100%;
}

.dashboard-info-form {
  background-color: #f1f1f4;
  width: auto;
  border-radius: 1rem;
  padding: 1% 6% 2%;
  margin-bottom: 2rem;
}

.dashboard-info-form tr {
  display: flex;
  align-items: center;
  height: 4rem;
}

.card-info-container {
  padding: 1rem 0;
  max-width: 700px;
  height: auto !important;
}

.card-info-input {
  display: flex;
  align-items: center;
}

.card-info-container label {
  padding: 0 1rem;
}

.display-info-container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 700px;
}

.display-info-container label {
  margin: 4% 11%;
  width: 40%;
  color: #6c6c6c;
  text-align: right;
}

.display-info-label {
  padding: 1rem 0;
}

.tags-container {
  height: auto !important;
}

.dashboard-info-form-label {
  width: 10rem;
  text-align: right;
  padding-right: 5%;
  font-family: "Poppins Medium";
}

.dashboard-info-form-input {
  width: 100%;
}

.dashboard-info-form-input input {
  border: #c4c4c4 solid;
  border-width: 0 0 1px 0;
  min-width: 80%;
  font-family: "Poppins Regular";
  font-size: 1rem;
  background-color: transparent;
}

.dashboard-info-form-input input::placeholder {
  color: black;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  margin: 0.25rem;
  border: #0fc662 solid 2px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.15rem 0.5rem;
}

.tag-item div {
  color: #0fc662;
  font-family: "Poppins SemiBold";
}

.tag-item svg {
  padding-left: 0.25rem;
  font-size: 1rem;
  color: #808080;
}

@media (max-width: 1200px) {
  .dashboard-info-form-section {
    display: block;
  }

  .dashboard-info-form-title {
    text-align: left;
    padding: 1% 0;
    width: auto;
  }

  .dashboard-info-form {
    width: auto;
  }
}

/* ===== NEW LISTING ===== */

.add-listing__container {
  display: grid;
  grid-template-columns: 30% auto;
  padding: 3rem 0;
  column-gap: 5%;
}

.add-listing-col-one {
  text-align: center;
}

.add-listing-col-one img {
  width: 100%;
}

.add-listing-col-one div {
  padding: 1rem 0;
}

.listing-img-input {
  display: none;
}


.add-listing-label {
  width: 8rem;
}

.add-listing-form label {
  font-family: "Poppins SemiBold";
}

.add-listing-form input {
  border: #c4c4c4 solid;
  border-width: 0 0 1px;
  width: 90%;
}

/* ===== BOOKCARD LONG ===== */

.book-card__long {
  margin: 0 auto 3rem;
  background-color: white;
  border-radius: 2rem;
  padding: 3% 5.5%;
  position: relative;
}

.book-card__long-inner {
  display: flex;
  position: relative;
}

.book-card__long .book-title {
  font-family: "Poppins SemiBold";
  font-size: 1.25rem;
}

.book-card__long .price {
  font-family: "Poppins Bold";
  font-size: 1.25rem;
}

.book-card__long .info-container {
  width: 80%;
  display: flex;
  padding: 0.5rem 0 0.5rem 5%;
  flex-direction: column;
  justify-content: space-between;
}

.single-review__container {
  max-width: 800px;
  margin: 6% auto 3%;
}

.single-review {
  text-align: center;
  padding: 3% 0rem 0 13%;
}

/* ===== INFO PAGES ===== */

.info-page {
  position: relative;
  display: flex;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.info-page-subheader {
  padding: 0 9% 3rem;
}

.team-card {
  padding-bottom: 3rem;
}

.team-card div {
  color: black;
  padding: 1% 0;
}

.team-card img {
  height: 20rem;
  width: 16rem;
  object-fit: cover;
}

.careers-list__container {
  padding-bottom: 5rem;
}

.faq-questions {
  margin: auto;
  padding-bottom: 5rem;
  max-width: 1100px;
}

.career-item {
  max-width: 1100px;
  margin: auto;
  padding: 3rem 6rem 3rem;
  border: #c4c4c4 solid;
  border-width: 0 0 1px 0;
}

.blog-item {
  display: grid;
  grid-template-columns: 9rem auto;
}

.blog-preview-img {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
}

.faq-question-container {
  font-family: "Poppins Bold";
  cursor: default;
  display: flex;
  position: relative;
  text-align: left;
  padding: 10px 20px;
  font-size: 1.25rem;
  margin-top: 15px;
  text-decoration: underline;
}

.faq-question {
  margin: auto 0;
  padding-right: 15px;
}

.faq-answer {
  position: relative;
  text-align: left;
  padding: 0 20px 20px;
  font-size: 1.15rem;
  height: auto;
}

.collapse {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-icon {
  width: 1em;
  height: 1em;
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.faq-icon--expanded {
  color: #e0812e;
  transform: rotateZ(-179.99deg);
}

.rotate90 {
  transform: rotateZ(90deg);
  top: 50px;
}

.rotate90 polygon {
  stroke: #0fc662;
  fill: #0fc662;
}

.invite-a-friend {
  max-width: 700px;
}

.invite-a-friend-subheader {
  padding: 1rem 5rem 2rem;
}

.invitation-input-container {
  background-color: #daeae1;
  padding: 2rem 0 1.5rem;
  border-radius: 2rem;
}

.invitation-input-container input {
  width: 80%;
  border: #4a8463 solid;
  border-width: 0 0 1px 0;
  background-color: transparent;
  text-align: center;
}

.partners-img {
  object-fit: cover;
  width: 20%;
}

.partners-card {
  display: flex;
  padding: 0 9%;
}

.partners-text {
  width: 100%;
  text-align: left;
  padding: 0 2rem;
}

.partners-description {
  padding-top: 2rem;
}

.confirm-password-margin {
  margin-bottom: 2%;
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
  .welcome-section-image__container {
    margin-left: 2rem;
  }

  .welcome-section-image {
    max-width: 40vw;
  }

  .how-it-works__inner {
    padding: 2rem 0.3%;
  }

  .how-it-works__inner p {
    padding: 0 10%;
  }

  .how-it-works__icon-container {
    padding: 1rem 0 0;
    overflow: hidden;
  }

  .our-mission__inner {
    padding: 2rem 0.3%;
  }

  .our-mission-quote__text {
    padding: 0 1.5rem;
  }

  .quoteIcon {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
  /* ===== NAVBAR ===== */

  .navCollapse {
    top: 10%;
  }

  /* ===== MAIN-HOME ===== */
  /* ===== WELCOME SECTION ===== */

  .welcome-section-image__container {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  .welcome-section-text__inner {
    padding-top: 4rem;
  }

  .search-bar__container {
    margin: 1rem 50px;
  }

  .centered-container {
    margin-right: 7%;
  }

  /* ===== HOW IT WORKS ===== */

  h2 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }

  .how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-it-works__inner {
    padding: 2rem 0;
  }

  .how-it-works__inner p {
    padding: 0 7%;
  }

  .how-it-works__icon-card {
    margin: 0 5px;
  }

  h5 {
    font-size: 1rem;
  }

  .how-it-works__icon-container {
    padding: 3rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-it-works-images {
    padding: 0 1.5%;
  }

  .thirdImage {
    padding-top: 5.5%;
  }

  /* ===== OUR MISSION ===== */

  .our-mission__inner {
    padding: 3rem 0.3%;
  }

  h4 {
    font-size: 1.25rem;
  }

  .our-mission-quote__text {
    padding: 0 7% 0 0;
  }

  .quoteIcon {
    margin-left: 1.5%;
    width: 280px;
  }

  .cardImage {
    width: 200px;
  }

  .cards-width p {
    font-size: 1rem;
  }

  /* ===== FOOTER ===== */

  .footer-logo {
    font-size: 2.2rem;
  }

  .signup-form-margin {
    margin-left: 4%;
    margin-right: -10px;
  }

  /* ===== FAQ ===== */

  .faq-question-container {
    padding: 10px 60px;
  }

  /* ===== DASHBOARD & ITS TABS ===== */

  .dashboard-card {
    margin: 2rem 2rem;
  }

  .single-review__container .single-review {
    padding: 3% 0 0 2%;
    margin-left: -10px;
  }

  /* ===== INBOX ===== */

  .inbox-slider-title {
    font-size: 0.7rem;
  }

  .messages-column p {
    font-size: 0.8rem;
  }

  .search-bar__container {
    margin-left: 25px;
  }

  ::placeholder {
    font-size: 0.8rem !important;
  }

  .seller-rating .mini {
    font-size: 0.7rem;
  }

  .mini svg {
    font-size: 0.7rem;
  }

  .profile-icon-large {
    height: 4rem;
  }
}

@media only screen and (max-width: 750px) {
  /* ===== NAVBAR ===== */

  .navCollapse {
    top: 14%;
  }

  .navbar-body h3 {
    font-size: 1.5rem;
    margin-top: 8%;
  }

  /* ===== MAIN-HOME ===== */
  /* ===== WELCOME SECTION ===== */

  .welcome-section-image__container,
  .mobile-view {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.6rem;
  }

  .welcome-section {
    position: absolute;
    left: 0;
    top: 14%;
  }

  .welcome-section-text__inner {
    padding-top: 1rem;
  }

  .contact-us-form .search-bar__container {
    margin: 1rem 0.6rem;
    width: 95%;
  }

  .search-bar__container {
    margin: 1rem 1.5rem;
  }

  .centered-container {
    margin-right: 4%;
  }

  /* ===== HOW IT WORKS ===== */

  .how-it-works {
    position: absolute;
    left: 0;
    top: 440px;
  }

  .how-it-works__inner h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .how-it-works__inner p {
    padding: 0 1rem;
  }

  .how-it-works__inner {
    padding: 2rem 0;
  }

  h5 {
    font-size: 1rem;
  }

  .how-it-works__icon-container {
    padding: 2rem 0 3rem;
    overflow: hidden;
  }

  .how-it-works-images {
    padding: 0 1.5% 1.5rem 1.5%;
  }

  .how-it-works__icon-card {
    margin: 0 5px;
  }

  
  .mobile-margin {
    margin-top: -20px;
  }

  /* ===== OUR MISSION SECTION ===== */

  .our-mission {
    position: absolute;
    left: 0;
    top: 2000px;
  }

  .our-mission__inner {
    padding: 3rem 0;
  }

  .our-mission__inner h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .our-mission__inner h4 {
    font-size: 1.25rem;
  }

  .our-mission-quote__text {
    padding: 0 5%;
  }

  .quoteIcon {
    display: none;
  }

  .cardImage {
    width: 200px;
  }

  .cards-width p {
    font-size: 1rem;
  }

  /* ===== HEAR FROM YOU SECTION ===== */

  .contact-us {
    position: absolute;
    left: 0;
    top: 3730px;
    padding-left: 0.5rem;
  }

  .contact-us__button-container button {
    margin: 5px auto;
  }

  .after-submit {
    position: absolute;
    top: 85%;
    left: 3%;
  }

  .contact-us-form .side-by-side-input {
    display: block !important;
  }

  .welcome-section__inner {
    display: flow-root !important;
  }

  .inner-contact-us {
    width: 100%;
    width: -webkit-fill-available;
    max-width: 1400px;
    margin: 0 auto;
  }

  /* ===== FOOTER ===== */

  .footer-position {
    position: absolute;
    left: 0;
    top: 4200px;
    width: 100%;
    overflow: hidden;
  }

  .footer-col {
    display: flow;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin-top: 13.5%;
    margin-left: 5%;
    font-size: 2.2rem;
  }

  /* ===== SIGNUP ===== */

  .signup-form-margin {
    margin-left: 1%;
  }

  .button-holder {
    font-size: 0.6rem;
  }

  .button-holder button {
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 0.6rem !important;
  }

  /* ===== MARKETPLACE ===== */

  .book-card-market-place .image-container {
    margin-top: 5%;
  }

  .book-card-market-place .add-info {
    margin-top: 10%;
  }

  /* ===== CAREERS ===== */

  .career-item {
    padding: 3rem 3rem 3rem;
  }

  .side-by-side {
    margin-left: -10px;
  }
  .space {
    margin: 0 10px;
  }

  /* ===== PARTNERS ===== */

  .partners-img {
    width: 100px;
    height: 100px;
    margin-top: 7%;
  }

  .invitation-input-container {
    margin: auto 5%;
  }

  /* ===== BLOG ===== */

  /*.blog-view-post {*/
  /*    font-size: 0.5rem;*/
  /*}*/

  /*.blog-view-post .MuiSvgIcon-root {*/
  /*    font-size: 0.6rem;*/
  /*}*/

  /* ===== FAQ ===== */

  .faq-question-container {
    font-size: 1rem;
    padding: 10px 65px 10px 40px;
  }

  .search-bar__container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* ===== NAVBAR TWO ===== */
  .drop-down__container {
    left: 5rem;
    width: 100%;
  }

  .nav-two-mobile-margin {
    margin-left: -15px !important;
  }

  /* ===== DASHBOARD & ITS TABS ===== */

  .dashboard-info-form-label {
    margin-top: 5%;
    font-size: 0.95rem;
  }

  .mobile-view-margin {
    margin-bottom: 5%;
  }

  .dropshadow {
    font-size: 2.35rem;
    margin-top: 2%;
  }

  .confirm-password-margin {
    margin-bottom: 10%;
  }

  .empty-state-title {
    font-size: 0.62rem;
  }

  .flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-right button {
    font-size: 1rem;
  }

  .dashboard-selection-item {
    font-size: 0.8rem;
  }

  .user-profile-icon__container {
    width: 8rem;
  }

  .user-profile-icon {
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 8%;
  }

  .profile-username {
    font-size: 0.8rem;
  }

  .user-profile-info {
    width: 20rem;
    padding: 0 3rem 2rem 0;
  }

  .dashboard-card {
    margin: 1rem 0;
    width: 20rem;
  }

  /* ===== BOOK CARD LONG ===== */

  .book-card__long .book-title {
    font-size: 0.95rem;
    margin-top: -55px;
  }

  .image-container .contain-img {
    margin-top: 0;
  }

  .book-card__long .book-desc {
    font-size: 0.8rem;
  }

  .book-card__long .price {
    margin-top: -50px;
  }

  .book-card__long .flex-right {
    font-size: 0.8rem;
    position: absolute;
    top: 8%;
    right: 0;
  }

  .book-card__long .flex-right .MuiSvgIcon-root {
    font-size: 0.8rem;
  }

  .single-review__container .single-review {
    padding: 3% 1.5% 0 1.5%;
    font-size: 0.8rem;
  }

  .dashboard-secondary-title h3 {
    font-size: 1.5rem;
  }

  /* ===== BOOK CARD ===== */

  .book-card .contain-img {
    margin-top: 10px;
  }

  .book-card-market-place .contain-img {
    margin-top: 10px;
  }

  /* ===== POPUP ===== */

  .popup__container {
    position: absolute;
    top: 20%;
    /*top: 2%;*/
  }

  .quick-view__img {
    width: 100%;
  }

  .quick-view__img .contain-img {
    height: 280px;
    width: 100%;
    margin-top: 10%;
  }

  .quick-view__content-wrapper {
    margin: 5% 0 3% -25px;
  }

  .quick-view .book-title {
    font-size: 0.95rem;
  }

  .quick-view .book-desc {
    font-size: 0.8rem;
  }

  .quick-view .book-author {
    font-size: 0.8rem;
  }

  .quick-view .book-isbn {
    font-size: 0.8rem;
  }

  .quick-view .book-condition {
    width: 100%;
    margin: 5% 1% 5% 3.5%;
  }

  .quick-view .message-seller__link {
    position: absolute;
    top: 77.5%;
    left: 15.5%;
  }

  .quick-view .book-price {
    position: absolute;
    left: 15.5%;
    bottom: 17%;
  }

  .quick-view .add-to-btn-text {
    font-size: 0.8rem;
    margin-top: 5%;
  }

  .quick-view .log-in-button {
    font-size: 0.8rem;
  }

  /* ===== INBOX ===== */

  .search-bar__container {
    margin-left: 10px;
  }

  .inbox-slider-title {
    font-size: 0.5rem;
  }

  .inbox-message-bar,
  .inbox-slider {
    width: 65%;
    margin-left: -5px;
  }

  .details-title {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  /* ===== INBOX ===== */

  .inbox-slider-title {
    font-size: 0.9rem;
  }

  .messages-column p {
    font-size: 1.2rem;
  }
}
/* ====About Us ====== */

.aboutBoxContainer {
  margin: 1rem 0;
}
.aboutContainer {
  margin: 1rem 0;
}
.aboutImage img {
  width: 100%;
  object-fit: cover;
}

.details {
  display: flex;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

/* ===Team Carusel === */

.five > .carousel-root > .carousel {
  background: rgba(75, 23, 106, 0.1);
  backdrop-filter: blur(15px);
  top: -115px !important;
  height: 202px;
  display: flex;
  justify-content: center;
}
.five > .carousel-root > .carousel-slider {
  background: white;
  backdrop-filter: blur(0);
  top: 0 !important;
  display: block;
  height: auto;
  height: 595px;
}
.five > .carousel-root {
  /* height: 100vh; */
  background-color: white;
}
/* .five > .carousel-root > .carousel > .thumbs-wrapper {
  margin-top: 40px;
} */
.thumbs-wrapper > .thumbs > .thumb > img {
  vertical-align: initial;
  height: 104px;
  width: 104px;

  border-radius: 50%;
}
.thumbs-wrapper > .thumbs > .thumb {
  width: 140px !important;
  border: none !important;
  margin: 0px 36px;
}
.carousel .slide img {
  width: 50% !important;
  object-fit: contain;
  height: 556px;
}
.thumb-img > img {
  vertical-align: top;
  border-radius: 50%;
  width: 76px;
  height: 76px;
}
.title-thumb {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.sub-thumb {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  /* border: 3px solid hsl(240deg 6% 87%); */
  height: 135px;
}
.thumb-img {
  display: flex;
  justify-content: center;
}
.caro {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 70px;

  color: #4b176a;
}
.carosub {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  color: #4b176a;
}
.carodetail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #414441;
}
.teamHeadingMain {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  background: #fff;
  color: #4b176a;
}
/* .five {
  margin-bottom: 120px;
} */
.carousel .control-prev.control-arrow:before {
  border-right: 20px solid black;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: '';
}
.carousel .control-next.control-arrow:before {
  border-left: 20px solid black;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: '';
}
.editor{
  margin-top: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.editor_para{
  
  border: 2px solid #0fc662;
  padding: 20px 10px;

  width: 80%;
  margin: 30px auto;
}

.editor_main{
  margin-top: 20px !important;
}
.blog_btn{
  text-align: center;
}
.table{
  padding: 20px 3%;
  
}